@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Форма добавления работы</h3>
    <form method="post">
        <table>

            <tr>
                <td>
                    <p> Subject name </p>
                </td>
                <td>
                    <input type="text" name="SubjectName"/>
                </td>
            </tr>

            <tr>
                <td>
                    <p> Work name</p>
                </td>
                <td>
                    <input type="text" name="WorkName"/>
                </td>
            </tr>

            <tr>
            <td>
                <p> Variant number </p>
            </td>
            <td>
                <input type="text" name="VariantNumber"/>
            </td>

            <tr>
                <td>
                    <p> Attach file</p>
                </td>
                
            </tr>


            <tr>
                <td>
                    <input type="submit" value="Send"/>
                </td>
            </tr>
        </table>


    </form>

</div>