@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Форма добавления работы</h3>
    <form method="post">
        <table>

            <tr>
                <td>
                    <p> Subject name </p>
                </td>
                <td>
                    <input type="text" name="SubjectName"/>
                </td>
            </tr>

            <tr>
                <td>
                    <p> Work name</p>
                </td>
                <td>
                    <input type="text" name="WorkName"/>
                </td>
            </tr>

            <tr>
            <td>
                <p> Variant number </p>
            </td>
            <td>
                <input type="text" name="VariantNumber"/>
            </td>

            <tr>
                <td>
                    <p> Attach file</p>
                </td>

                <td>
                    <input type="file" name="PostedFile"/>
                </td>

            </tr>


            <tr>
                <td>
                    <input type="submit" value="Send"/>
                </td>
            </tr>
        </table>


    </form>

</div>





<h2>Basic File Upload</h2>
@using (Html.BeginForm("Index",
    "Home",
    FormMethod.Post,
    new {enctype = "multipart/form-data"}))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file"/>
    <br>
    <br>
    <input type="submit" value="Upload Image"/>
    <br>
    <br>
    @ViewBag.Message
}